{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <button type="submit">Click</button>
    {{ form_end(form) }}

{% endblock %}
